.navbar{
    display: flex;
    background-color: rgb(49, 49, 49);
    padding:15px;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    margin-bottom: 10px;
    justify-items:center;
}

.i{
    height:270px;
    width:350px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    padding:10px;
}