body {
  margin: 0;
}
.navbar {
  background-color: #0f1111;
  display: flex;
  gap: 20px;
  padding:5px;
  position: static;
}

.nav-logo:hover {
  border: 1px solid white;
}

.nav-logo {
  margin: 0;
  margin-left: 2px;
  height: 60px;
  width: 110px;
}
.logo {
  margin: 0;
  height: 60px;
  width: 100%;
  background-size: cover;
  background-image: url("https://hipfonts.com/wp-content/uploads/2022/11/amazon-logo-cover.png");
}

.location {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location:hover {
  border: 1px solid white;
}

.text1 {
  color: grey;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.text2 {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.text2 i{
  padding-left: 0;
}

.dropdown {
  display: flex;
  align-items: center;
  /* border: 2px solid white; */
}
select {
  padding-left: 5px;
  font-weight: bold;
  height: 42px;
  width: 50px;
  color: rgb(88, 87, 87);
  background-color: gainsboro;
  border: 1px solid rgb(88, 87, 87);
  font-size: 0.8rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
input {
  margin: 0;
  height: 38px;
  width:38vw;
  border: none;
  font-size: 1rem;
  padding-left: 5px;
}

.searchbut {
  margin: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  height: 40px;
  width: 40px;
  font-size: 1.2rem;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.lang {
  padding: 0 2px 0 2px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.lang img{
  height:20px;
  width:20px;
}

.lang:hover{
  border:1px solid white;
}

.sign {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  color: white;
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

.texts {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.sign:hover {
  border: 1px solid white;
}

.returns {
  padding-left:3px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.returns:hover {
  border: 1px solid white;
}

.cart {
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.85rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.cart i{
  font-size:1.6rem;
}

.cart:hover {
  border: 1px solid white;
}
.main {
  background-image: url("am.jpg");
  height: 600px;
  width: 100%;
  background-size: cover;
  display: flex;
}

.container {
  display: flex;
  gap: 28px;
}
.box1 {
  display:flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 280px;
  padding: 15px;
  height: 400px;
  width: 300px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.box1 img{
  height:300px;
}

.box2 {
  margin-top: 280px;
  height: 400px;
  width: 300px;
  padding: 5px;
  background-color: white;
}

.box3 {
  margin-top: 280px;
  height: 400px;
  width: 300px;
  padding: 5px;
  background-color: white;
}

.box4 {
  margin-right: 10px;
  margin-top: 280px;
  height: 400px;
  width: 300px;
  padding: 5px;
  background-color: white;
}

.opt {
  height: 50px;
  background-color: #0f1111;
}
