.navbar{
    margin:0;
    display: flex;
    background-color: rgb(7, 87, 63);
    padding:15px;
    justify-content: space-evenly;
    align-items: center;
}

.links{
    color:white;
    text-decoration: none;
}

.a1::-webkit-media-controls-panel {
    background-color: #290903; /* Green background */
}

.a2::-webkit-media-controls-panel {
    background-color: rgb(12, 3, 36);
}

.a3::-webkit-media-controls-panel{
    background-color: rgb(18, 3, 32);
}

.auds{
    display: flex;
    margin:10px;
    padding:15px;
    justify-content: space-evenly;
    align-items: center;
    background-color: blueviolet;
}