.image img{
    width:100%;
    height:40vh;
    margin-bottom: 20px;
}

.image{
    display: flex;
    background-color: blue;
    padding:10px;
    flex-direction: column;
    padding-bottom: 25px;
    justify-content: center;
    color:white;
}

.image a{
    color:white;
    text-decoration: none;
}

.links{
    display:flex;
    justify-content: space-evenly;
}