.navbar{
    margin:0;
    display: flex;
    background-color: rgb(7, 87, 63);
    padding:20px;
    justify-content: space-evenly;
    align-items: center;
}

.links{
    color:white;
    text-decoration: none;
}

.a1::-webkit-media-controls-panel {
    background-color: #d60606; /* Green background */
}

.a2::-webkit-media-controls-panel {
    background-color: rgb(27, 4, 88);
}

.a3::-webkit-media-controls-panel{
    background-color: rgb(16, 125, 133);
}

.a4::-webkit-media-controls-panel {
    background-color: #8d0d49; /* Green background */
}

.a5::-webkit-media-controls-panel {
    background-color: rgb(3, 36, 8);
}

.a6::-webkit-media-controls-panel{
    background-color: rgb(112, 31, 7);
}

.a7::-webkit-media-controls-panel {
    background-color: #800a06; /* Green background */
}

.a8::-webkit-media-controls-panel {
    background-color: rgb(50, 13, 151);
}

.a9::-webkit-media-controls-panel{
    background-color: rgb(158, 12, 151);
}

.auds{
    display: flex;
    margin:30px;
    padding:30px;
    justify-content: space-evenly;
    align-items: center;
}