.image img{
    width:100%;
    height:40vh;
    margin-bottom: 20px;
}

.image{
    display: flex;
    background-color: blue;
    padding:10px;
    flex-direction: column;
    padding-bottom: 25px;
    justify-content: center;
    color:white;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.image a{
    color:white;
    text-decoration: none;
    font-size: 1rem;
}

.links{
    display:flex;
    justify-content: space-evenly;
}

.main p{
    text-align: justify;
}

.main img{
    float:right;
}

.main{
    float:left;
}