.navbar{
    height:50px;
    background-color: rgba(0, 0, 0, 0.822);
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:white;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
}

.links{
    margin:10px;
    color:white;
}

.box{
    display:flex;
    justify-content: center;
}

.sect{
    display: flex;
    justify-content: space-evenly;
    margin-right:20px;
}